@model DoubleX.Module.Member.MemberDetailModel
@{
    ViewBag.Title = "邮箱绑定";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
@section headers{}
@section styles{
}
<div class="container">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 member-menu">
                    @Html.Partial("_Menu")
                </div>
                <div class="col-sm-9 member-contianer bg-white">
                    <div class="ibox">
                        <div class="ibox-content">
                            <p class="member-contianer-title">@ViewBag.Title</p>
                            <form id="detail-form" class="form-horizontal member-form">
                                <div class="form-group">
                                    <label for="txtEmail" class="col-sm-2 control-label">邮箱地址</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="请输入邮箱地址" value="@(Model.Email)" />
                                    </div>
                                    <div class="col-sm-2 ">
                                        <button type="button" id="btn-send" class="btn btn-default btn-primary">发送</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtCode" class="col-sm-2 control-label">验&nbsp;&nbsp;证&nbsp;&nbsp;码</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="txtCode" name="txtCode" class="form-control" placeholder="请输入验证码" />
                                    </div>
                                    <label class="col-sm-2 control-label"></label>
                                </div>
                                <div class="form-group hidden" id="group-submit">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" id="btn-save" class="btn btn-default">确认绑定</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="@(WebHelper.GetStaticUrl("/module/common.js"))"></script>
    <script type="text/javascript" src="@(WebHelper.GetStaticUrl("/module/member.js"))"></script>
    <script type="text/javascript">
        var pageView = {}, memberModel = new Member(), commonModel = new Common();
        var codeCountdown, sendType = "@(KeyModel.Config.Template.KeyBindEmail)";
        var refUrl = "@(UrlsHelper.GetRefUrl(defaultUrl:WebHelper.GetMemberUrl("/user/security")))";
        $(document).ready(function () { pageView.init(); });

    </script>
    <script type="text/javascript">

        pageView.init = function () {

            //倒计进
            codeCountdown = dx.util.countdown({
                times: 60,
                distance: 1,
                start: function (obj, times) {
                    $("#btn-send").off("click").attr("disabled", true);
                    //开始操作
                },
                interval: function (obj, times) {
                    $("#btn-send").html(times);
                },
                stop: function (obj, times) {
                    pageView.clear();
                },
                over: function () {
                    pageView.clear();
                }
            });

            //数据验证
            pageView.validator();

            //保存操作
            $("#btn-save").click(function () {
                if (mu.validatorSubmit("#detail-form")) {
                    pageView.save();
                }
            });

            //发送验证码
            $("#btn-send").click(function () {
                if (mu.validatorSubmit("#detail-form")) {
                    pageView.sendCode();
                }
            })
        }

        pageView.sendCode = function () {
            $("#group-submit").removeClass("hidden").addClass("hidden");
            var receiver = $("#txtEmail").val();
            if (dx.util.isNullOrEmpty(receiver)) {
                dx.util.message({ message: "请输入手机号码" });
                return;
            }
            if (!dx.util.isNullOrEmpty(codeCountdown)) {
                commonModel.sendVerifyCode({ data: { receiver: receiver, type: sendType } }, function (result) {
                    $("#txtCode").attr("data-task-id", result["Obj"]);
                    codeCountdown.start();
                    $("#group-submit").removeClass("hidden");
                })
            }
        }

        pageView.save = function () {
            var taskId = $("#txtCode").attr("data-task-id");
            var code = $("#txtCode").val();
            var receiver = $("#txtEmail").val();
            memberModel.memberBindEmail({ data: { Receiver: receiver, TaskId: taskId, Code: code } }, function (result) {
                dx.util.message({ message: "绑定成功" }, function () {
                    window.top.location = refUrl;
                });
            }, function (result, msg) {
                dx.util.message({ message: msg }, function () {
                    pageView.clear();
                });
            })
        }

        pageView.clear = function () {
            codeCountdown.clear();
            $("#btn-send").html("发送").removeAttr("disabled").off("click").on("click", function () {
                pageView.sendCode();
            })
        }

        pageView.validator = function () {
            var fields = {
                txtEmail: {
                    validators: {
                        notEmpty: {
                            message: '请输入邮箱地址'
                        },
                        emailAddress: {
                            message: '请输入有效的邮箱地址'
                        }
                    }
                }
            };
            $('#detail-form').bootstrapValidator(mu.validatorOption(fields));
        }

    </script>
}